In [3]:
# 사용 모듈 연결하기

import pandas as pd
import matplotlib.pyplot as plt

In [48]:
#데이터 가져오기
df1=pd.read_csv('D:/인재개발원 파이썬 강좌/python_data/2018_2019년_데이터.csv',encoding='euc-kr')
df1.head()

    구분     년  월  일 요일 지역-시도 지역-시군구 지역-읍면동 성별  연령대  이용_비율(%)
0  영화관  2018  1  1  월   강원도    강릉시    금학동  남  20대   0.00126
1  영화관  2018  1  1  월   강원도    속초시    조양동  남  20대   0.00298
2  영화관  2018  1  1  월   강원도    속초시    조양동  남  30대   0.00229
3  영화관  2018  1  1  월   강원도    속초시    조양동  남  50대   0.00126
4  영화관  2018  1  1  월   강원도    속초시    조양동  여  40대   0.00527

In [39]:
# 필드명(컬럼명) 확인하기
df1.columns

Index(['구분', '년', '월', '일', '요일', '지역-시도', '지역-시군구', '지역-읍면동', '성별', '연령대',
       '이용_비율(%)'],
      dtype='object')

In [49]:
df1.tail()

          구분     년  월  일 요일 지역-시도 지역-시군구 지역-읍면동 성별  연령대  이용_비율(%)
1302929  영화관  2019  5  9  목  충청북도    충주시    성서동  남  50대   0.00037
1302930  영화관  2019  5  9  목  충청북도    충주시    성서동  여  20대   0.00063
1302931  영화관  2019  5  9  목  충청북도    충주시    성서동  여  30대   0.00021
1302932  영화관  2019  5  9  목  충청북도    충주시    성서동  여  40대   0.00011
1302933  영화관  2019  5  9  목  충청북도    충주시    성서동  여  50대   0.00026

In [46]:
df2=df1[df1['지역-시군구']=='속초시']
df2.head(10)

     구분     년  월  일 요일 지역-시도 지역-시군구 지역-읍면동 성별    연령대  이용_비율(%)
1   영화관  2018  1  1  월   강원도    속초시    조양동  남    20대   0.00298
2   영화관  2018  1  1  월   강원도    속초시    조양동  남    30대   0.00229
3   영화관  2018  1  1  월   강원도    속초시    조양동  남    50대   0.00126
4   영화관  2018  1  1  월   강원도    속초시    조양동  여    40대   0.00527
6   영화관  2018  1  1  월   강원도    속초시    조양동  여  60대이상   0.00052
7   영화관  2018  1  1  월   강원도    속초시    조양동  남    10대   0.00040
28  영화관  2018  1  1  월   강원도    속초시    조양동  남  60대이상   0.00057
49  영화관  2018  1  1  월   강원도    속초시    조양동  남    40대   0.00538
58  영화관  2018  1  1  월   강원도    속초시    조양동  여    10대   0.00103
59  영화관  2018  1  1  월   강원도    속초시    조양동  여    30대   0.00395

In [50]:
df3=df1[df1['지역-시군구']=='속초시' & df1['성별']=='남']
df3.tail(10)

TypeError: cannot compare a dtyped [object] array with a scalar of type [bool]

In [52]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1302934 entries, 0 to 1302933
Data columns (total 11 columns):
구분          1302934 non-null object
년           1302934 non-null int64
월           1302934 non-null int64
일           1302934 non-null int64
요일          1302934 non-null object
지역-시도       1302934 non-null object
지역-시군구      1296528 non-null object
지역-읍면동      1302934 non-null object
성별          1302934 non-null object
연령대         1302934 non-null object
이용_비율(%)    1302934 non-null float64
dtypes: float64(1), int64(3), object(7)
memory usage: 109.3+ MB